# Дз 3. Тестирование статистических гипотез

<div class="alert alert-info" role="alert">

Важно!

* Плагиат карается обнулением работы
* При использовании чужого кода из открытых источников необходимо указать ссылку на источник
* В каждой задаче необходимо обосновывать выбор статистического критерия, формулировать нулевую и альтернативную гипотезу и делать интерпретацию получившихся результатов, а также содержательный вывод.
* Весь текст оформляется строго в ячейках типа markdown

## Задача 1. Осьминог Пауль (2 балла)


В период с 2008 по 2010 год в Германии жил Осьминог Пауль, который был известен тем, что мог предсказывать результаты матчей с участием сборной Германии.     
   
В таблице ниже вы можете видеть результаты его предсказаний:

<a href="https://ibb.co/VWnc5yG"><img src="https://i.ibb.co/QFS3tBV/image.jpg" alt="image" border="0"></a>

Если считать, что случайным образом мы угадывали ли бы 50% матчей, то можно ли утверждать, что осьминог Пауль был талантливым экстрасенсом со способностями к предсказаниям?

In [6]:
import numpy as np
import pandas as pd
from scipy import stats
import scipy

### H0: Осьминог угадавает как монетка
### H1: Осьминог угадавает лучше, чем монетка

Пометка: материал взять из работ, которые выполнялись на семинарах!

Конкретно этот способ разбирался на семинаре 6. Это биноминальное распределение

In [7]:
n = 13
F_H0 = stats.binom(n, 0.5)

In [8]:
stats.binom_test(11, 13, 0.5, alternative = 'greater')

0.01123046875

### Полученное значение меньше, чем уровень значимости (0,05), а это значит отвергаем нулевую гипотезу о том, что принцип работает как монетка

### Делаем вывод о том, что осьминог угадывает лучше, чем монетка

## Задача 2.  Корм и котики (2 балла)

    
Новый корм для котиков рекламируется с помощью рекламного баннера. Отдел маркетинга разработал для рекламы новый баннер. Они считают, что он более красивый. Перед фирмой возникла необходимость проверить какой из двух баннеров лучше.

Для этого была создана специальная веб-форма. В этой веб-форме людям по очереди демонстрировали оба баннера и просили поставить лайк, если баннер нравится человеку. Если человеку нравятся оба баннера, он может поставить два лайка. Если ему не нравится ни один баннер, он может не ставить лайки вовсе. Собранные в конечном итоге данные находятся в табличке.

Можно ли утверждать, что оба баннера одинаково хороши? Сформулируйте статистическую гипотезу для проверки того, что оба баннера выбирают одинаково часто. Проверьте ее и сделайте выводы.

In [9]:
data = pd.read_csv("banner_click_stat.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   w1	w2   1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

Нам нужно было отсиртировать строки, метод я взял с сайта: https://www.w3resource.com/pandas/dataframe/dataframe-tail.php

In [10]:
data.tail()

    w1\tw2
995   0\t0
996   0\t0
997   0\t0
998   0\t0
999   0\t0

In [11]:
data

    w1\tw2
0     0\t0
1     1\t1
2     0\t0
3     0\t0
4     0\t0
..     ...
995   0\t0
996   0\t0
997   0\t0
998   0\t0
999   0\t0

[1000 rows x 1 columns]

In [12]:
data['column_1'] = [z[0] for z in data['w1\tw2']]
data['column_2'] = [z[2] for z in data['w1\tw2']]

data = data.drop(['w1\tw2'], axis = 1)

data['column_1'] = data['column_1'].astype(int)
data['column_2'] = data['column_2'].astype(int)

In [8]:
data

     column_1  column_2
0           0         0
1           1         1
2           0         0
3           0         0
4           0         0
..        ...       ...
995         0         0
996         0         0
997         0         0
998         0         0
999         0         0

[1000 rows x 2 columns]

### У нас двусторонняя альтернатива
### H0: Оба баннера выбирают одинаково часто
### H1: Количество выбора 1 баннера не равно количеству выбора 2 баннера
### В качестве уровня значимости примем значение 0,05

Пометка: sign_test взят с семинара 7!

In [52]:
from statsmodels.stats.descriptivestats import sign_test

In [53]:
sign_test(data['column_1']-data['column_2'])

(-8.0, 0.005222879350185395)

#### P-value меньше уровня значимости (0,05), это значит, что мы отвергаем нулевую гипотезу о том, что оба баннера выбирают одинаково часто! Соотвественно принимаем альтернативную гипотезу о том, что количество выбора 1 баннера не равно количеству выбора 2 баннера

## Задача 3. Немного АВ-тестов (3 балла)
## Игра Cookie Cat

В этом задании мы поработаем с данными Cookie Cats - популярной игры-головоломки, которую разработала компания Tactile Entertainment. В этой игре игрок должен соединять одинаковые элементы в ряд, чтобы очистить поле и выиграть уровень.

<p style="align: center;"><img align=center src="https://i.ytimg.com/vi/iPxZIp0cbJE/maxresdefault.jpg"  width=500></p>
 
 
<p style="align: center;"><img align=center src="https://s3.amazonaws.com/assets.datacamp.com/production/project_184/img/cc_gates.png"  width=500></p>

По мере прохождения уровней перед игроками появляются ворота, открытия которых нужно ждать какое-то время или пропускать их, совершая покупки в приложении. С точки зрения создателей эти ворота повышают интерес к игре и стимулируют к вложению денег в игру.

Но у создателей появляется важный вопрос: **где лучше всего ставить ворота?**
Первоначально первые ворота были размещены на уровне 30. Однако есть гипотеза, что лучше переместить их на уровень 40. В этом задании вам предлагается проанализировать результаты AB-теста, в котором создатели переместили первые ворота в Cookie Cats с 30 уровня на уровень 40.

**Данные получены от 90 189 игроков, которые установили игру во время проведения AB-теста. Переменные:**

* `userid` - уникальный номер, идентифицирующий каждого игрока.

* `version` - был ли игрок помещен в контрольную группу (gate_30 - ворота на уровне 30) или в тестовую группу (gate_40 - ворота на уровне 40).

* `sum_gamerounds` - количество игровых раундов, сыгранных игроком в течение первой недели после установки
* `retention_1` - вернулся ли игрок в игру через 1 день после установки
* `retention_7` - вернулся ли игрок в игру через 7 дней после установки

Когда игрок устанавливал игру, ему случайным образом назначали `gate_30` или `gate_40`.

In [16]:
import pandas as pd
df = pd.read_csv('cookie_cats.csv')
df.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  int64
 1   version         90189 non-null  object
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  bool
 4   retention_7     90189 non-null  bool
dtypes: bool(2), int64(2), object(1)
memory usage: 2.2+ MB

### Вопрос 1: есть ли зависимость между возвращаемостью игроков и расположением ворот?

#### 1.1 Проверьте гипотезу для возвращения через день

#### H0: Зависимость между возвращением игроков через день нет
#### H1: Зависимости между возвращением игроков через день есть

### Сгруппируем два столбца: version и retention_1
#### Метод с 7 семинара!

In [18]:
gok = df.groupby(['version'])['retention_1'].value_counts().unstack()

In [19]:
gok

retention_1  False   True
version
gate_30      24666  20034
gate_40      25370  20119

In [77]:
stats.chi2_contingency(gok, correction=False)

(3.182963657512031,
 0.07440965529692188,
 1,
 array([[24799.13514952, 19900.86485048],
        [25236.86485048, 20252.13514952]]))

#### P-value (0,07) больше чем уровень значимости в 0,05, соотвественно мы не отвергаем нулевую гипотезу в пользу альтернативной

#### 2.2 Проверьте гипотезу для возвращения через семь дней

#### H0: Зависимость между возвращением игроков через 7 дней нет
#### H1: Зависимости между возвращением игроков через 7 дней есть

In [21]:
gook = df.groupby(['version'])['retention_7'].value_counts().unstack()

In [22]:
gook

retention_7  False  True
version
gate_30      36198  8502
gate_40      37210  8279

In [23]:
stats.chi2_contingency(gook, correction=False)

(10.013167328688969,
 0.0015542499756142805,
 1,
 array([[36382.90257127,  8317.09742873],
        [37025.09742873,  8463.90257127]]))

#### Уровень значиомсти у нас равен 0,05, а p-value меньше него (0,001), соответственно отвергаем нулевую гипотезу о том, что не существует зависимость между возвращением игроков через 7 дней.

### Вопрос 2: Отличается ли среднее количество раундов в группах gate_40 и gate_30?

### H0: Среднее количество раундов не отличается в группах gate_40 и gate_30
### H1: Среднее количество раундов отличается в группах gate_40 и gate_30

Сделаем список, где будут значения о сумме раундов из переменной gate 30, через цикл.

In [36]:
listgate30 = []
gate30df = df.loc[df['version'] == 'gate_30', ['sum_gamerounds']]
for i in gate30df['sum_gamerounds']:
    listgate30.append(i)

Также сделаем для переменной gate 40

In [42]:
listgate40 = []
gate40df = df.loc[df['version'] == 'gate_40', ['sum_gamerounds']]
for i in gate40df['sum_gamerounds']:
    listgate40.append(i)

In [47]:
len(listgate30)

44700

In [46]:
len(listgate40)

45489

In [50]:
ttest, pval = stats.ttest_ind(listgate30, listgate40, 0, alternative = "two-sided")

In [51]:
ttest, pval

(0.8910426211362967, 0.37290868247405207)

#### Мы получили p-value равный 0,37, а это значит, что он выше уровня значимости в 0,05, соотвественно мы не отвергаем нулевую гипотезу о том, что среднее количество раундов не отличается в группах gate_30 и gate_40

### Вопрос 3: Отличается ли медианное количество раундов в группах gate_40 и gate_30?

### H0: Медианное количество раундов в группах gate_40 и gate_30 не отличается
### H1: Медианное количество раундов в группах gate_40 и gate_30 отличается

In [74]:
stats.mannwhitneyu(listgate30, listgate40)

MannwhitneyuResult(statistic=1024331250.5, pvalue=0.05020880772044255)

### Вывод:
Принимаем уровень значимости 0,05, полученное p-value у нас равняется 0,0502, что больше уровня значимости, соотвественно мы принимаем нулевую гипотезу о том, что медианное количество раундов в группах gate_40 и gate_30 не отличается

## Задача 4: Время покемонов (3 балла)

В данной задаче вам будет необходимо проанализировать различные характеристики покемонов и сравнить их между собой

<p style="align: center;"><img align=center src="https://proprikol.ru/wp-content/uploads/2020/11/kartinki-pokemonov-2.jpg"  width=500></p>

Покемоны - это маленькие существа, которые сражаются друг с другом на соревнованиях. Все покемоны имеют разные характеристики (сила атаки, защиты и т. д.) и относятся к одному или двум так называемым классам (вода, огонь и т. д.). Профессор Оук является изобретателем Pokedex, портативного устройства, которое хранит информацию обо всех существующих покемонах. Как его ведущий специалист по данным, Вы только что получили от него запрос с просьбой осуществить аналитику данных на всех устройствах Pokedex.

### Описание данных

Профессор Оук скопировал все содержимое память одного устройства Pokedex, в результате чего получился набор данных, с которым Вы будете работать в этой задаче. В этом файле каждая строка представляет характеристики одного покемона:

* pid: Numeric - ID покемона
* HP: Numeric - Очки здоровья
* Attack: Numeric - Сила обычной атаки
* Defense: Numeric - Сила обычной защиты
* Sp. Atk: Numeric - Сила специальной атаки
* Sp. Def: Numeric - Сила специальной защиты
* Speed: Numeric - Скорость движений
* Legendary: Boolean - «True», если покемон редкий
* Class 1: Categorical - Класс покемона
* Class 2: Categorical - Класс покемона

In [68]:
dn = pd.read_csv('pokemon.csv')
dn.head()

,pid,Name,Class 1,Class 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,False

### Вопрос 1

Профессор Оук подозревает, что покемоны в классе `grass` имеют более сильную обычную атаку, чем у покемонов в классе `rock`. Проверьте, прав ли он, и убедите его в своем выводе статистически.

### Вопрос 2

Также профессор Оук очень хочет проверить, правда ли нет значимой разницы между силой обычной атаки и силой обычной защиты у покемонов. Помогите ему и ответьте на вопрос, подтвердив свои выводы с помощью проверки статистических гипотез

### Вопрос 3

И последний вопрос, который мучает профессора Оука: правда ли, что средняя скорость покемонов превышает 66.6 ? Сформулируйте подходящие гипотезы и помогите профессору Оуку, ответив на вопрос.

Метод выполнения возьмем с семинара 5!

В качестве нулевой гипотезы установим, что средняя скорость равна 66.6, а в качество альтернативной гипотезы, что средняя скорость превышает 66.6

In [75]:
from scipy.stats import ttest_1samp

In [76]:
stats.ttest_1samp(dn['Speed'], popmean = 66.6, alternative='greater')

Ttest_1sampResult(statistic=1.6326941356636653, pvalue=0.051463667549085566)

Полученное p-value выше принятого уровня значимости 0,05, а это значит, что мы не отвергаем нулевую гипотезу